body {
  font-family: sans-serif;
  color: burlywood;
  margin: auto;
  max-width: 1280px;
  background-color:darkviolet;
}

@keyframes example {
  from {background-color:gold;}
  to {background-color:silver;}
}

.navbar {
  background-color: chartreuse;
  border-radius: 2px;
  max-width: 800px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 5%;
}

.title {
  text-decoration: underline;
  margin: auto;
  max-width: 1280px;
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  text-shadow: 2px 2px red;
}

.para {
    background-color: red;
}

.navbar a {
  color: black;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color:white;
}